#main {
  margin-top: 70px;
}

.header-example {
  .navbar {
    margin-bottom : 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom : 0
  }
  pre {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}
